amqp
black
celery
Django
django-celery-beat
django-cors-headers
djangorestframework
django-rest-swagger
django-filter
ipython
ipython-genutils
jedi
marshmallow
pre-commit
psycopg2
python-json-logger
redis
requests