.evaluation-title {
    width: 100%;
    height: 10vh;
    color: aliceblue;
    text-align: center;
    font-size: 100%;
    font-weight: 500;
}

.prompt {
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.prompt-heading {
    width: 50%;
}

.prompt-input {
    width: 50%;
}

.prompt-textarea {
    width: 50%;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    border-color: grey;
}

.metrics {
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.metrics-heading {
    width: 50%;   
}

.metrics-selector {
    width: 50%;
}

.metrics-checkbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.metrics-bias-checkbox {
    width: 33.3%;
}

.metrics-correctness-checkbox {
    width: 33.3%;
}

.metrics-all-checkbox {
    width: 33.3%;
}

.model {
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: aliceblue;
    align-items: center;
}

.model-heading {
    width: 50%;
}

.model-dropdown {
    width: 50%;
}

.model-select {
    width: 50%;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    border-color: grey;
}

.dataset {
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: aliceblue;
    align-items: center;
}

.dataset-heading {
    width: 50%;
}

.dataset-dropdown {
    width: 50%;
}

.dataset-file {
    width: 60%;
    margin-left: 10%;
}

.upload-section {
    width: 100%;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.upload-button {
    height: 100%;
    padding-top: 1%;
}

.button {
    background-color: aliceblue;
    border-color: aliceblue;
}